@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@theme inline {
  --font-sora: var(--font-sora);
}
@layer components {
  .accordion{
    @apply w-full border border-[#3C3C77] bg-[#15152c] rounded-lg lg:w-[845px]
  }
  .accordion-title{
    @apply font-sora font-medium text-[13px] lg:text-[20px] text-[#a1aac9] capitalize py-5 pl-[30px] pr-[35px] cursor-pointer flex justify-between items-center
  }
}

@layer utilities{
  .bt{
    @apply border border-white
  }
}
